* {
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui;
}

nav {
  padding: 10px !important;
  margin-bottom: 10px !important;
  background: darkcyan !important;
}

.pen {
  list-style-type: none !important;
}

.liNav {
  display: inline !important;
  margin-right: 20px !important;
}

.linkNav {
  text-decoration: inherit;
  color: white !important;
}

a:hover {
  color: #eee;
}
